File: {{filename}}
{{size}} ({{size_bytes}} bytes)
{{duration}}
Video: {{sample_width}}x{{sample_height}},  {{display_aspect_ratio}}, {{frame_rate}} fps
Media: {{video_codec_long}}, {{video_bit_rate/1000}} Kbps
Audio: {{audio_codec_long}}, {{audio_bit_rate/1000}} Kbps, {{audio_sample_rate/1000}} KHz

