File: {{filename}}
{{size}} ({{size_bytes}} bytes)
{{duration}}, {{sample_width}}x{{sample_height}}, {{display_aspect_ratio}}, {{frame_rate}} fps
Media: {{video_codec_long}}
Audio: {{audio_codec_long}}